/.htaccess
/administrator/*
!/administrator/components/
/administrator/components/*
!/administrator/language/
/administrator/language/*
!/administrator/modules/
/administrator/modules/*
/bin/*
/cache/*
/cli/*
!/components/
/components/*
!/language/
/language/*
/images/*
/includes/*
/layouts/*
/libraries/*
/media/*
/modules/*
/plugins/*
/templates/*
/tmp/*
/configuration.php
/htaccess.txt
/index.php
/joomla.xml
/LICENSE.txt
/README.txt
/robots.txt.dist
/robots.txt
/web.config.txt
.idea

# CUSTOM!
!administrator/components/com_queues
!libraries/joomla-queues
libraries/joomla-queues/vendor
!plugins/console/queue
