/.htaccess
/administrator/*
!/administrator/components/
/administrator/components/*
!/administrator/language/
/administrator/language/*
!/administrator/modules/
/administrator/modules/*
/bin/*
/cache/*
/cli/*
!/components/
/components/*
!/language/
/language/*
/images/*
/includes/*
/layouts/*
/libraries/*
/media/*
/modules/*
/plugins/*
/templates/*
/tmp/*
/configuration.php
/htaccess.txt
/index.php
/joomla.xml
/LICENSE.txt
/README.txt
/robots.txt.dist
/robots.txt
/web.config.txt
.idea

# CUSTOM!
!administrator/components/com_queues
!administrator/language/en-GB
administrator/language/en-GB/*
!administrator/language/en-GB/en-GB.com_queues.ini
!administrator/language/en-GB/en-GB.com_queues.sys.ini
!libraries/joomla-queues
!libraries/joomla-queues/Command
libraries/joomla-queues/vendor
!plugins/console/
plugins/console/*
!plugins/console/queue
!plugins/queue
build/*
!build/packages
build/packages/*
!build/pkg_joomlaqueues.xml
.DS_Store
